In [14]:
import pandas as pd

raw_users = pd.read_json('data/users.jsonl', lines=True)
raw_sessions = pd.read_json('data/sessions.jsonl', lines=True)
raw_products = pd.read_json('data/products.jsonl', lines=True)
raw_deliveries = pd.read_json('data/deliveries.jsonl', lines=True)

In [16]:
raw_sessions.head()

,event_type,offered_discount,product_id,purchase_id,session_id,timestamp,user_id
0,VIEW_PRODUCT,0,1001.0,NaN,100001,2020-01-17 16:08:57,102.0
1,VIEW_PRODUCT,20,1277.0,NaN,100002,2020-01-07 05:10:41,102.0
2,VIEW_PRODUCT,20,1276.0,NaN,100002,2020-01-07 05:14:26,102.0
3,VIEW_PRODUCT,0,1276.0,NaN,100003,2020-01-16 09:37:42,102.0
4,VIEW_PRODUCT,0,1277.0,NaN,100003,2020-01-16 09:38:22,102.0